:root {

    .app-2rEoOp::before{
        content: "";
        position: fixed;
        z-index: 1;
        pointer-events: none;
    }

    .app-2rEoOp { // TomiMoiron Logo
        &::before {
            top: 80px;
            right: 116px;
            width: 366px;
            height: 114px;
            background: url('https://i.imgur.com/rkAl1z3.png') no-repeat;
            background-size: 100%;
        }
    }
}